.properties-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
}

.vertical-edit__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.properties-main-container__actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}
